Language: Cpp
BasedOnStyle: LLVM
DisableFormat: false
ColumnLimit: 0
ExperimentalAutoDetectBinPacking: false
SortIncludes: Never
BinPackArguments: false
BinPackParameters: false
AccessModifierOffset: -2
MaxEmptyLinesToKeep: 0
InsertNewlineAtEOF: true