*.a
*.app
*.cmake
*.d
*.dll
*.dylib
*.exe
*.gch
*.la
*.lai
*.lib
*.lo
*.mod
*.o
*.obj
*.out
*.pch
*.slo
*.smod
*.so
/[Bb]uild
/out
/vcpkg_installed
vcpkg-manifest-install.log
package-lock.json
package.json
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CTestTestfile.cmake
Makefile
Testing
_deps
cmake_install.cmake
compile_commands.json
install_manifest.txt
