*
!*/
!.clang-format
!.gersemirc
!.github/workflows/*.yml
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md
!external/assimp
!external/glfw
!external/glm
!external/json
!include/**/*.h
!include/**/*.hpp
!include/**/*.inl
!script/*.sh
!source/**/*.c
!source/**/*.cpp
!source/image/**/*.jpg
!source/image/**/*.png
!source/model/**/*.fbx
!source/model/**/*.gltf
!source/model/**/*.bin
!source/model/**/*.obj
!source/shader/**/*.frag
!source/shader/**/*.glsl
!source/shader/**/*.vert
