*.a
*.app
*.cmake
*.d
*.dir
*.dll
*.dylib
*.exe
*.filters
*.gch
*.la
*.lai
*.lib
*.lo
*.log
*.mod
*.o
*.obj
*.out
*.pch
*.sln
*.slo
*.smod
*.so
*.user
*.vcxproj
/.vs
/out
/vcpkg_installed
/x64
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
CMakeScripts
CTestTestfile.cmake
Debug/
Makefile
Testing
_deps
compile_commands.json
install_manifest.txt
package-lock.json
package.json
